:root {
  --dark-background: #1f2937;
  --title-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --logo-color: #F9fAF8;
  --button-signup-color: #3882f6;
  --quote-text-color: #1F2937;
  --quote-section-background-color: #E5E7EB;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}


/* Navbar */
nav {
  background: var(--dark-background);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.links a {
  color: var(--secondary-text-color);
  text-decoration: none;
}

#logo {
  color: var(--logo-color);
  font-size: 24px;
}

/* 1st Section */
#first-section {
  display: flex;
  background: var(--dark-background);
  font: 18px;
  color: var(--secondary-text-color);
  padding: 2rem;
  justify-content: space-around;
  gap: 2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

h1 {
  color: var(--title-color);
  font-size: 48px;
  font-weight: 900;
}

button {
  background: var(--button-signup-color);
  color: var(--secondary-text-color);
  padding: 0.3rem;
  width: 5rem;
  border-radius: 10%;
}

.image-container {
  width: 50rem;
}

.image-container img {
  width: 100%;
}

/* 2nd Section */
#second-section {
  text-align: center;
  min-height: 300px;
}

h2 {
  margin: 1rem;
  font-size: 36px;
  color: var(--information-text);
  font-weight: 900;
}

.cards-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
  padding: 2rem;
}

.img-container {
  width: 70%;
  height: 50%;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.card {
  width: 150px;
  height: 150px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.card p {
  width: 150px;
}

/* 3rd Section */
#third-section {
  background: var(--quote-section-background-color);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#third-section p {
  font-size: 36px;
  color: var(--quote-text-color);
  font-style: italic;
  padding: 2rem;
}

blockquote {
  align-self: flex-end;
  margin-right: 2rem;

}

/* 4th Section */
